/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.image a:hover {
	text-decoration: none;
}

.card {
	padding: 10px 15px;
	min-height: 165px;
}

.card h3 {
	color: #ffffff;
	font-size: 22px;
	text-align: right;
}

.card-small {
	padding: 2px 12px;
	color: #efefef;
}

.card-blue {
	background-color: #67c7c7;
	border: 1px solid #57b7b7;
}

.card-blue:hover {
	background-color: #57b7b7;
}

.card-green {
	background-color: #44ce65;
	border: 1px solid #57b7b7;
}

.card-green:hover {
	background-color: #34be55;
}

#blog-listing-medium .post {
	margin-bottom: 5px;
}

.btn {
	letter-spacing: 0.03em;
}
